.style{
	border: 2px solid #9934cc;
	border-radius: 25px;
}

blockquote {
	border-left:none;
	
}

h3 {
	font-weight:bold;}

blockquote p{
	font-size:1.3em;
	font-weight:lighter;
	text-align: justify;
}