.style{
	/*border: 2px solid #9934cc;
	border-radius: 25px;*/
}

@font-face {
  font-family: '20th Century Font';
  src: url('../fonts/20.ttf');
}
	
body{
	font-family: 'calibri';
}			

blockquote {
	border-left:none;
	
}

h3 {
	font-family:  '20th Century Font' !important;
	font-weight:bold;}

blockquote p{
	font-size:1.3em;
	font-weight:lighter;
	text-align: justify;
	letter-spacing: 1px;
}

.content-details{
	font-size:1.4em;
	letter-spacing: 1px;
	margin-top:2%;
	margin-bottom:10px;
	margin-left:35%;
	margin-right:35%;
	background-color: #9934cc;
	color:#fff;
	padding:5px;
}

.btn-color-override{
	font-family:  '20th Century Font' !important;
	background-color:green;
}

.img-features{
	opacity: 0.4;
    filter: alpha(opacity=40);
}

.col-md-3:hover .img-features{
	opacity: 1;
    filter: alpha(opacity=1);
    cursor: pointer;
}

.col-md-3:hover{
	cursor: pointer;
}