.style{
	/*border: 2px solid #9934cc;
	border-radius: 25px;*/
}

@font-face {
  font-family: '20th Century Font';
  src: url('http://hushtones.gopagoda.com/fonts/20.ttf');
}
	
body{
	font-family: tahoma;
}			

blockquote {
	border-left:none;
	
}

h3 {
	font-family:  '20th Century Font' !important;
	font-weight:bold;}

blockquote p{
	font-size:1em;
	font-weight:lighter;
	text-align: ;
	letter-spacing: 1px;
}

.title{
	margin-top:.5em;
	font-family:  '20th Century Font' !important;
	font-size:6em;
	padding-bottom:0;
	
}

.tagline{
	font-family:  Geneva, Tahoma !important;
	margin-top:0;
	font-size:1.6em;
	line-height: 1;
}

.content-details{
	font-size:1.4em;
	letter-spacing: 1px;
	margin-top:1%;
	margin-bottom:10px;
	background-color: #9934cc;
	color:#fff;
	padding:5px;
	display:inline-block;
	margin-right:4em;
}

.btn-color-override{
	font-family:  '20th Century Font' !important;
}

.img-features{
	margin:2em;

	opacity: 0.4;
    filter: alpha(opacity=40);
}

.col-md-3:hover .img-features{
	opacity: 1;
    filter: alpha(opacity=1);
    cursor: pointer;
}

.col-md-3:hover{
	cursor: pointer;
}

.playstore{
	/*float:right;
	margin-top:-4.5em;
	margin-right: 8em;*/
}

.img-playstore{
	height:54px;

}